@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.App {
  text-align: center;
}

body{
  background-color: #282c34;
  color: #f6f6f6;
  font-family: "Reddit Mono", monospace;
}

.sidebar{
  border-right: 1px solid #f0ead6 !important;
  height: 100vh;
  text-align: left;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-main{
  font-size: 35px;
  padding-right:30px;
  padding-left: 10px;
  padding-top: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  border-bottom: 1px solid #f0ead6 !important;
  user-select: none;
}

.nav-main-selected{
  
  color: #000;
  background-color: #f0ead6;
  
}

.nav-main:hover{
  color: #000;
  background-color: #f0ead6;
  cursor: pointer;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@media screen and (max-width: 600px) {
  .App{
    flex-direction: column-reverse !important;

    margin-bottom: 150px;
  }
  .sidebar{
    display: none;
  }

  .navbar {
    background-color: #333;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:  auto auto;
    
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .nav-phone{
    border-radius: 10px;
    padding: 6px;
  }

  
  
}